{% extends "base.twig" %}

{% block content %}
    <main class="main">

        <h1 class="main__header">The Friendsheep Wall</h1>

        <section class="submission">
            {{ function('acf_form', post_args) }}
        </section>

        <section class="praises">
            <h2 class="praises__header">Praise been given: {{ posts | length }}</h2>

            <div class="praise__list">

                {% if posts | length > 0 %}

                    {% for post in posts %}

                        <div class="praise">
                            <div class="praise__content">
                                <h4 class="praise__title">{{ post.title }}</h4>
                                <p class="praise__message">{{ post.message }}</p>
                                <div class="praise__details">
                                <small>To <a href="{{ function('get_permalink', post.praise_to) }}">{{ Post(post.praise_to) }}</a></small>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                {% else %}

                    <h3 class="praises_subheader">No praise has been submitted, be the first to praise a colleague!</h3>

                {% endif %}

            </div>

        </section>
    </main>
{% endblock %}
