{% extends "base.twig" %}

{% block content %}
    <main>
        <h1>{{ title }}</h1>
        <p>
            {{ content|raw }}

            <small>From {{ praised_by }}</small>
        </p>
        <small>To {{ praise_to }}</small>
    </main>
{% endblock %}
