{% extends "base.twig" %}

{% block content %}
    <main class="main">

        <h1 class="main__header">Rewards for being praised!</h1>

        <section class="rewards">

            <div class="rewards__list">

                {% for reward in rewards %}

                    <div class="reward">
                        <h2 class="reward__title">{{ reward.title }}</h2>

                    </div>

                {% endfor %}

            </div>

        </section>
    </main>
{% endblock %}
