{% extends "base.twig" %}

{% block content %}
    <main class="main">

        <h1 class="main__header">User: {{ post.title }}</h1>

        <section class="praises">
            <h2 class="praises__header">Praise been given: {{ posts | length }}</h2>

            <div class="praise__list">

                {% for post in posts %}

                    <div class="praise">
                        <div class="praise__content">
                            <h4 class="praise__title">{{ post.title }}</h4>
                            <p class="praise__message">{{ post.message }}</p>
                            <div class="praise__details">
                            <small>To <a href="{{ function('get_permalink', post.praise_to) }}">{{ Post(post.praise_to) }}</a></small>
                            <small>From <a href="{{ function('get_permalink', post.praised_by) }}">{{ Post(post.praised_by) }}</a></small>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </section>
    </main>
{% endblock %}
