{% extends "base.twig" %}

{% block content %}
    <main class="main">

        <h1 class="main__header">The Blacksheep</h1>

        <section class="staff">

            <h2 class="staff__header">Staff: {{ staff | length }}</h2>

            <div class="staff__list">

                {% for member in staff %}

                    <div class="staff-item">
                        <div class="staff-item__content">
                            <h4 class="staff-item__title"><a href="{{ member.staff.link }}">{{ member.staff.title }}</a> Praise: {{ member.praise }}</h4>
                            <small> {{ member.staff.position }}</small>
                            <span> {{ member.staff.email_address }}</span>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </section>
    </main>
{% endblock %}
