/**
 * No SCSS or Webpack/Gulp.
 * Just raw CSS - It's been a wile
 */


:root {
    --primary-font: 'Anton', 'Helvetica Neue', 'Arial';
    --secondary-font: ''
}

* {
   box-sizing: border-box;
}

body {
    background-color: #000;
    color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    text-transform: uppercase;

}

.header {
    padding: 50px;
    display: block;
    text-align: center;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    margin: 0 20px;
}

.main {
    width: 100%;
    height: auto;
    text-align: center;
}

.main__header {
    padding: 20px 0;
    font-size: 65pt;
}

.submission {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.submission-form {
    margin-top: 50px;
}

.praises {
    padding: 100px 0;
}

.praises__header {
    margin-bottom: 50px;
    font-size: 38pt;
}

.praise__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.praise {
    display: flex;
    width: 30%;
    height: 350px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
}

.praise__content {
    padding: 50px;
    width: 100%;
    text-align: center;
}

.praise__title {
    width: 100%;
    font-family: var(--secondary-font);
    text-transform: none;
    font-weight: 200;
}

.praise__message {
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 18pt;
}

.praise__details {
    margin-top: 25px;
}

.praise__details a {
    color: inherit;
}

.praise__details small {
    font-family: var(--primary-font);
    display: block;
}

.button-large {
    margin: 20px auto;
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 25px;
    appearance: none;
    background-color: #000;
    border: 1px solid #fff;
    color: #FFF;
    text-transform: uppercase;
    font-family: var(--primary-font);
    transition: all 300ms ease;
}

.button-large:hover {
    background-color: #fff;
    color: #000;
}

.staff__header {
    font-size: 45pt;
}

.staff__list {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
}

.staff-item {
    display: block;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 24pt;
}

.staff-item__title a {
    color: inherit;
}

/**************
 * Hacky Shit *
 **************/

.acf-field {
    display: block;
    margin: 0 auto !important;
    width: 100%;
    max-width: 50%;
    border-bottom: 0;
}

.acf-field-post-object {
    margin: 20px auto !important;
    width: 200px;
    display: inline-block;
}

.acf-field .acf-label label {
    font-size: 10pt;
    font-weight: 200;
    text-align: left;
}

.acf-fields > .acf-field {
    border: 0 !important;
}

.acf-input input {
    padding: 25px 0 !important;
    outline: none;
    appearance: none;
    font-size: 28pt !important;
    font-family: var(--primary-font);
    text-transform: uppercase;
    border: 0;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    background-color: #000;
}

.acf-input textarea {
    padding: 15px 0 !important;
    outline: none;
    appearance: none;
    font-size: 12pt !important;
    font-family: var(--secondary-font);
    border: 0;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    background-color: #000;
}

.acf-input textarea::placeholder {
    font-size: 16pt !important;
    font-family: var(--secondary-font);
    color: #000;
}

.select2-results__option,
.select2-selection__rendered {
    color: #000;
    font-family: var(--primary-font);
    text-transform: uppercase;
}


.select2-dropdown {
    background-color: #000;
    border: 0;
    color: #fff;
}

.select2-container.-acf .select2-selection {
    border: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px !important;
    color: #000 !important;
}

.select2-container.-acf .select2-selection {
    height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px !important;
    right: 5px !important;
}

.select2-container--open .select2-dropdown--below {
    top: -16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #000 !important;
}
