<head>
    <title>{{ function('wp_title') }}</title>
    <meta charset="{{ site.charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ site.pingback_url }}" />

    {{ function('wp_head') }}
</head>

<header class="header">
    <nav class="nav">
        {% for item in menu.items %}
            <a href="{{ item.link }}" class="{{ item.classes|join(' ') }}">{{ item.title }}</a>
        {% endfor %}
    </nav>
</header>
